---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body >
		<Header />
		<main>
			<h4 class="size-3">🧑‍🚀</h4>
			<h1>Hi, I'm Wiktor</h1>
			<h6 >I help people understand software engineering concepts</h6>
			<div  >
				<div class="divide-y divide-gray-300/50">
				  <div class="space-y-6 py-8 leading-7 text-gray-700">
					<p>Here is how I can help you:</p>
					<ul class="space-y-4">
					  
						<li class="flex items-center flex-wrap">
						<svg class="h-6 w-6 flex-none fill-sky-100 stroke-sky-500 stroke-2" stroke-linecap="round" stroke-linejoin="round">
						  <circle cx="12" cy="12" r="11" />
						  <path d="m8 13 2.165 2.165a1 1 0 0 0 1.521-.126L16 9" fill="none" />
						</svg>
						<p class="ml-4 "></p>
						<a href="https://tailwindcss.com/docs" class="mr-2">My Blog</a>  where you can learn about <code class="mx-1 text-sm font-bold text-gray-900">project management</code> and <code class="mx-1 text-sm font-bold text-gray-900">tech</code>.
					  </li>

					  <li class="flex items-center flex-wrap">
						<svg class="h-6 w-6 flex-none fill-sky-100 stroke-sky-500 stroke-2" stroke-linecap="round" stroke-linejoin="round">
						  <circle cx="12" cy="12" r="11" />
						  <path d="m8 13 2.165 2.165a1 1 0 0 0 1.521-.126L16 9" fill="none" />
						</svg>
						<p class="ml-4 "></p>
						<a href="https://tailwindcss.com/docs" class="mr-2">The Valley of AI</a> your <code class="mx-1 text-sm font-bold text-gray-900">web apps</code> powered by <code class="mx-1 text-sm font-bold text-gray-900">AI </code> manual.
					  </li>

					  <li class="flex items-center flex-wrap">
						<svg class="h-6 w-6 flex-none fill-sky-100 stroke-sky-500 stroke-2" stroke-linecap="round" stroke-linejoin="round">
						  <circle cx="12" cy="12" r="11" />
						  <path d="m8 13 2.165 2.165a1 1 0 0 0 1.521-.126L16 9" fill="none" />
						</svg>
						<p class="ml-4 "></p>
						<a href="https://tailwindcss.com/docs" class="mr-2">Career Advice</a>  where you can talk to me about your <code class="mx-1 text-sm font-bold text-gray-900">vision</code> and I will help you design a <code class="mx-1 text-sm font-bold text-gray-900">strategy</code> for your career.
					  </li>

					</ul>
<!-- Call to action -->
				<p>Together We Shape a Better World.</p>
				  </div>
				  <div class="pt-8 text-base font-semibold leading-7">
					<p class="text-gray-900">Want to chat to me about anything else?</p>
					<p>
					  <a href="https://tailwindcss.com/docs" >Contact me directly on LinkedIn &rarr;</a>
					</p>
				  </div>
				</div>
			  </div>
			
		</main>
		<Footer />
	</body>
</html>
